.card {
  width: 1100px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 40px 30px 30px 30px;
  font-family: "Spartan", sans-serif;
  border-left: 5px solid rgb(91, 164, 164);
  background-color: rgb(255, 255, 255);
  transition: transform 0.7s ease-in-out;
  box-shadow: 4px 3px 8px rgb(163, 201, 236), -3px -3px 8px gray;
  border-radius: 15px;

  &:hover {
    transform: scale(1.01);
  }
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    &_left {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;
    }
  }
  &_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &_info {
    width: 264px;
    height: 93px;
  }
  &_list {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    color: rgb(123, 142, 142);
  }

  &_filter {
    display: flex;
    align-items: center;
    width: 408px;
    height: 33px;
    gap: 16px;
    flex: 1;
  }
  &_tags {
    align-items: flex-start;
    border-color: rgb(91, 164, 164);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    color: rgb(91, 164, 164);
    transition: 0.4s all eases;
  }
  &_tags:hover {
    background: rgb(91, 164, 164);
    color: white;
  }

  &_title {
    width: 270px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  &_title:hover {
    color: rgb(91, 164, 164);
  }
  &_items {
    margin-bottom: 13px;
    color: rgb(91, 164, 164);
    font-size: 15px;
    font-weight: 700;
    margin-right: 15px;
  }
}
@media (max-width: 1159px) {
  .card {
    width: 800px;
  }
}

@media (max-width: 885px) {
  .card {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_container {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    &_img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 40px;
    }
    &_info {
      font-size: 10px;
      margin-left: 120px;
    }

    &_tags {
      font-size: 12px;
    }
  }
}
@media (max-width: 681px) {
  .card {
    width: 400px;
  }
}
