.SearchBar {
  @include fc(1, 1);
  width: 1100px;
  height: 40px;
  border-radius: 5px;
  background-color: $bg-color;
  border-left: 5px solid $primary-color;
  padding: 20px;
  font-family: $primary-font;
  margin-bottom: 20px;
  margin-left: 125px;
  &_keywords {
    @include fc(1, 0);
    gap: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 5px;
    box-shadow: 0 0 2.5px rgb(0 0 0 / 15%);
    color: $primary-color;
    font-weight: 700;
    margin: 0 20px 1rem 0;
    padding-left: 8px;
    font-family: $primary-font;
  }
  &_clear {
    color: $bg-color;
    cursor: pointer;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
    margin-left: 5px;
    width: 40px;
    background-color: $primary-color;
  }

  &_close {
    color: #7b8e8e;
    cursor: pointer;
    @include df(700, 14px);
    outline: none;
    text-transform: capitalize;
    transform: translateY(-15%);
    margin-left: 15px;
    border-style: none;
  }
}
@media (max-width: 1159px) {
  .SearchBar {
    width: 800px;
  }
}

@media (max-width: 885px) {
  .SearchBar {
    width: 600px;
  }
}
@media (max-width: 681px) {
  .SearchBar {
    width: 450px;
    &_keywords {
      font-size: 12px;
    }
    &_clear {
      width: 40px;
      height: 40px;
    }
  }
}
