.header {
  background-color: red;
  width: 1351px;
  height: 156px;
  background-size: cover;
  margin-bottom: 56px;
  background-image: url(https://josefigueroa-job-listings-with-filtering.netlify.app/images/bg-header-desktop.svg);
  background-color: rgb(91, 164, 164);
  padding: 0 24px;
}
@media (max-width: 1159px) {
  .header {
    width: 1200px;
  }
}

@media (max-width: 885px) {
  .header {
    width: 800px;
  }
}
@media (max-width: 681px) {
  .header {
    width: 600px;
  }
}
